.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 670px;
    background-image: url("https://mcdn.wallpapersafari.com/medium/25/14/Dljuh1.jpg");
}